/* O CSS agora só serve para as animações que o Tailwind não cobre */

body {
    font-family: 'Poppins', sans-serif;
}

.hearts-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Permite clicar através dos corações */
    z-index: 5; /* Coloca os corações entre o fundo e o conteúdo */
}

.heart {
    position: absolute;
    font-size: 20px;
    color: rgba(255, 182, 193, 0.6); /* Cor rosa claro translúcido */
    animation: float 10s infinite ease-in-out;
}

@keyframes float {
    0% { transform: translateY(100vh) scale(0.5); opacity: 0; }
    50% { opacity: 1; }
    100% { transform: translateY(-10vh) scale(1); opacity: 0; }

}

#carousel-slide img {
    object-fit: cover;
    object-position: center;
}
